// main: ../style.scss
$theme-orange: #ff6600;
$theme-orange-light: #ffa060;
$theme-cream: #e0ded4;
// GRAYSCALE
$black: #000000;
$gray1: #030303;
$gray2: #050505;
$gray3: #080808;
$gray4: #0a0a0a;
$gray5: #0d0d0d;
$gray6: #0f0f0f;
$gray7: #121212;
$gray8: #141414;
$gray9: #171717;
$gray10: #1a1a1a;
$gray15: #262626;
$gray20: #333333;
$gray25: #404040;
$gray30: #4d4d4d;
$gray35: #595959;
$gray40: #666666;
$gray45: #737373;
$gray: #808080;
$gray55: #8c8c8c;
$gray60: #999999;
$gray65: #a6a6a6;
$gray70: #b3b3b3;
$gray75: #bfbfbf;
$gray80: #cccccc;
$gray85: #d9d9d9;
$gray90: #e5e5e5;
$gray91: #e8e8e8;
$gray92: #ebebeb;
$gray93: #ededed;
$gray94: #f0f0f0;
$gray95: #f2f2f2;
$gray96: #f5f5f5;
$gray97: #f7f7f7;
$gray98: #fafafa;
$gray99: #fcfcfc;
$white: #ffffff;
